<div class="card m-2">
    <div class="card-body">
        <div class="row">
            <form id="myForm" [formGroup]="myForm" (submit)="onSubmit()">
                <div class="row">
                    <div class="form-group w-25 m-2 col-5">

                        <input type="hidden" id="id" name="id"/>

                        <label for="name">Name:</label>
                        <input class="form-control form-control-sm" type="text" id="name" required name="name" formControlName="name">
                    
                        <div class="error  text-danger" *ngIf="!myForm.controls['name'].valid && 
                            myForm.controls['name']?.touched">Valid Name is required
                        </div>
                    </div>

                    <div class="form-group w-25 m-2 col-5">
                        <label for="state">State:</label>
                        <input class="form-control form-control-sm" type="text" id="state" required  name="state" formControlName="state">
                    
                        <div class="error  text-danger" *ngIf="!myForm.controls['state'].valid && 
                            myForm.controls['state']?.touched">Valid State is required
                        </div>
                    </div>
                

                    <div class="form-group w-25 m-2">
                        <label for="zip">Zip:</label>
                        <input class="form-control form-control-sm" type="text" id="zip"  required  name="zip" formControlName="zip">
                    
                        <div class="error  text-danger" *ngIf="!myForm.controls['zip'].valid && 
                            myForm.controls['zip']?.touched">Valid Zip is required
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group w-25 m-2">
                        <label for="amount">Amount:</label>
                        <input class="form-control form-control-sm" type="text" id="amount" required  name="amount" formControlName="amount">
                    
                        <div class="error  text-danger" *ngIf="!myForm.controls['amount'].valid && 
                            myForm.controls['amount']?.touched">Valid Amount is required
                        </div>
                    </div>

                    <div class="form-group w-25 m-2">
                        <label for="qty">Qty:</label>
                        <input class="form-control form-control-sm" type="text" id="qty" required  name="qty"  formControlName="qty">
                    
                        <div class="error  text-danger" *ngIf="!myForm.controls['qty'].valid && 
                            myForm.controls['qty']?.touched">Valid Qty is required
                        </div>
                    </div>

                    <div class="form-group w-25 m-2">
                        <label for="item">Item:</label>
                        <input class="form-control form-control-sm" type="text" id="item" required  name="item" formControlName="item">
                    
                        <div class="error text-danger" *ngIf="!myForm.controls['item'].valid && 
                            myForm.controls['item']?.touched">Valid Item is required
                        </div>
                    </div>
                </div>

                <button class="btn btn-secondary btn-sm col-1 text-center m-3" type="submit">Save</button>
                <button *ngIf="toggleFlag" class="btn btn-secondary btn-sm col-1 text-center m-3" (click)="onCancel()">Clear</button>
                <br>
            </form>
        </div>
    </div>
</div>