::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  color: darkgray;
  margin-top: 12px;
  border-bottom: 1px solid darkgray;
  padding: 5px;    
}

::ng-deep .ngx-datatable .datatable-footer .page-count {
  margin: 10px;
  font-size: 15px;
  color: darkgray;
}

::ng-deep .ngx-datatable .datatable-body .datatable-row-wrapper {
  padding: 5px;
}

.hover-none { background-color: transparent; text-decoration: none; }

.hover-none:focus {
  background-color: transparent;
}

input[type='text'] {
  font-size: 14px;
  display: block;
  background: transparent;
  width: 15%;
  border: none;
  border-bottom: 1px solid #5264ae;
}

textarea:focus, input:focus{
  outline: none;
}